* {
    box-sizing: border-box;
}
@media screen and (min-width: 320px) {
    .header {
        width: 320px;
        margin-bottom: 1px;
    }
    .header-fon {
        width: 100%;
        height: 173px;
        background-image: url(../img320/header-fon.png);
        position: relative;
        font-family: 'Lato', sans-serif;
        line-height: 25px;
        padding-top: 10px
    }
    .header-fon h2 {
        font-size: 16px;
        color: #ffffff;
        padding-left: 19px;

    }
    .header-fon p {
        font-size: 14px;
        color: #9bc8d1;
        padding-left: 19px;

    }
    .header-nav {
        background-color: #373c3f;
        display: flex;
    }
    .title {
        font-family: 'Montserrat', sans-serif; 
        font-size: 12px;
        color: #ffffff;
        height: 37px;
        width: 279px;
        padding-left: 19px;
        display: flex;
        align-items: center;
    }
    .header-menu {
        width: 41px;
        background-color: #202529;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    .menu-icon span {
        display: block;
        width: 18px;
        height: 2px;
        background-color: white;
        margin: 3px;
        transition: 0.2s;
    }
    .menu-icon.active span:nth-child(2) {
        opacity: 0;
    }
    .menu-icon.active span:nth-child(1) {
        transform: rotate(45deg) translate(3px, 4px);
    }
    .menu-icon.active span:nth-child(3) {
        transform: rotate(-45deg) translate(3px, -4px);
    }
    .nav {
        display: none;
        width: 182px;
        height: 161px;
        position: absolute;
        right: 0;
        bottom: 12px;
    }
    .nav__item {
        display: block;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        color: #5c5c5c;
        background-color: #fafafa;
        border: 0.1px solid #E1E1E2;
        border-collapse: collapse;
        padding: 4px 10px;
    }
    .nav-block {
        display: block;
    }
    .nav__item:hover {
        background-color: #f5f5f5;
    }
    .section {
        width: 320px;
        position: relative;
        margin-bottom: 25px;
    }
    .section-item {
        display: inline-block;
        height: 75px;
        width: 249px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        background-repeat: no-repeat;
        margin-top: 3px;
    }
    .pizza-delivery {
        background-image: url(../img320/pizza.png);
        background-position: bottom;
    }
    .salads {
        background-image: url(../img320//salads.png);
        background-position: bottom;
    }
    .desserts {
        background-image: url(../img320/desserts.png);
    }
    .detail {
        position: absolute;
        right: 0;
        width: 71px;
        height: 75px;
        background-color: #acd8ad;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titlle-price {
        font-family: 'Lato', sans-serif;
        width: 320px;
        text-align: left;
        padding: 0 15px;
        line-height: 17px;
    }
    .titlle-price h1 {
        text-transform: uppercase;
        font-size: 17px;
        color: #3f4043;
    }
    .titlle-price p {
        color: #cbccce;
        font-size: 9px;
    }
    .price {
        width: 320px;
        font-family: 'Lato', sans-serif;
        margin-top: 10px;
    }
    .price-block {
        line-height: 37px;
        width: 100%;
    }
    .kitchen {
        text-transform: uppercase;
        font-size: 17px;
        color: #acd8ad;
        padding-left:  18px;
        background-color: #3f4043;
    }
    .price-block h2 {
        text-transform: uppercase;
        color: #3f4043;
        padding-left:  18px;
        position: relative;
        margin-top: 10px;
    }
    .icon {
        width: 30px;
        height: 25px;
        position: absolute;
        right: 20px;
        top: 5px;
        background-image: url(../icon320/Layer1.png);
        background-repeat: no-repeat;
    }
    .icon2 {
        background-image: url(../icon320/Layer2.png);
    }
    .icon3 {
        background-image: url(../icon320/Layer3.png);
    }
    .icon4 {
        background-image: url(../icon320/Layer4.png);
    }
    .list-price {
        position: relative;
        padding: 0 18px;
        margin-bottom: 15px;
    }
    li:before{
        content: "\00B7";
        padding: 2px; 
    }
    .list {
        font-size: 12px;
        color: #3f4043;
        line-height: 25px;
    }
    .info-price {
        color: #59595c;
        font-size: 9px;
        line-height: 9px;
    }
    .pay {
        font-weight: bold;
        position: absolute;
        right: 25px;
    }
    .drinks {
        text-transform: uppercase;
        font-size: 17px;
        color: white;
        padding-left:  18px;
        background-color: #acd8ad;
    }
    .footer {
        margin-top: 50px;
        font-family: 'Lato', sans-serif;
        width: 320px;
        height: 55px;
        background-color: #acd8ad;
        color: white;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}